button {
    display: inline-block;
    background-color: #6d4e1d;
    border-radius: 25px;
    border: none;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 25px;
    }
button:hover {
    
    border-radius: 50px;
        color: #6d4e1d;
        background-color: #eeeeee;
        }
        .card{
            background-color:#6d4e1d;
            color: #eeeeee;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            margin-left: 60px;
            margin-right: 60px;


        }
.card:hover{
    
    border-radius: 50px;
    background-color:#eeeeee;
        color: #6d4e1d;
        }
