button {
    display: inline-block;
    background-color: #6d4e1d;
    border-radius: 50px;
    border-color: grey;
    background-image: url("../Images/fondb.jpg");
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px black;
    }
button:hover {
    background-image: none;
    color: #6d4e1d;
    background-color: #eeeeee;
}

.card{
  cursor: pointer;
  background-image: url("../Images/fondb.jpg");
  border-radius: 50px;
  border-color: #000000;
  background-color:#6d4e1d;
  color: #eeeeee;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 60px;
  margin-right: 60px;
}


.card:hover{
  cursor: pointer;
background-image: none;
    background-color:#eeeeee;
    border-color: #000000;
    color: #6d4e1d;
        }
